/* VacationItem.css */

.title {
  color: #1a237e;
  cursor: pointer;
}

.vacation-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
}

.details-container {
  flex-grow: 1;
}

.remove-button {
  background-color: #1a237e;  /* Ajoutez la couleur bleu foncé ici */
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin-left: 8px;
}

.favorite-button:hover {
  background-color: transparent;
}

/* styles.css (ou dans votre méthode de style React) */

.vacation-item {
    border: 1px solid #ddd; /* Ajoutez une bordure autour de chaque activité pour la séparation */
    padding: 10px;
    margin-bottom: 10px;
}

.activite-title {
    color: darkblue; /* Couleur bleu foncé pour le titre de l'activité */
}

.activite-description,
.activite-lieu,
.activite-date {
    color: #333; /* Couleur du texte normal pour les autres informations de l'activité */
}

.favorite-button {
    border: none; /* Supprimez la bordure du bouton favori */
    cursor: pointer;
    background-color: transparent; /* Fond transparent pour que le cœur soit seul */
    font-size: 20px; /* Ajustez la taille de la police si nécessaire */
    margin-left: 10px; /* Ajoutez une marge à gauche pour l'espacement */
}

.favorite {
  background-color: #87CEEB;  /* Couleur spéciale pour les activités en favori */
}

.link-to-activities {
  color: #1a237e; /* Couleur bleu foncé pour le lien */
  text-decoration: underline; /* Soulignez le lien */
  cursor: pointer;
  margin-top: 10px; /* Ajoutez une marge en haut pour l'espacement */
}

.link-to-activities:hover {
  color: #0d47a1; /* Couleur bleu foncé plus foncé au survol */
}

.form-container label {
  margin-bottom: 10px;
}

.form-container select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Styles pour les options du select */
.form-container select option {
  padding: 12px;
}

/* Styles pour le survol du select */
.form-container select:hover {
  border-color: #1a237e;
}

/* Styles pour le focus du select */
.form-container select:focus {
  border-color: #1a237e;
  outline: none;
}

/* VacationList.css */

.details-button {
  color: #1a237e;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #1a237e;
  color: #fff;
}
